* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 560px;
    height: 30px;
    margin-left: -280px;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
}

#logo {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 0 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#logo span {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

#logo_o {
    color: rgb(148, 148, 148);
}
#logo_fra {
    color: rgb(203,  83,  73);
}
#logo_m {
    color: rgb( 80, 169,  75);
}
#logo_p {
    color: rgb( 76,  81, 178);
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    padding: 2px 10px 2px 3px;
    background-color: #FFF;
    border-top-left-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
}

#controls, #extra_controls {
    display: none;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

#extra_controls {
    margin-top: 5px;
}

.bgroup {
    display: block;
    margin: 0 2px;
    float: left;
}

.bgroup > * {
    display: block;
    float: left;
    height: 30px;
    margin: 0;
    padding: 6px;
    border-right-width: 0 !important;
    border-radius: 0 !important;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bgroup > select {
    /* Fix for weird padding */
    padding: 5px;
}

.bgroup > *:first-child {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.bgroup > *:last-child {
    border-right-width: 1px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.sidebar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: opacity .2s ease-out, visibility .2s ease-out;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}

.border_box::-webkit-scrollbar, #popup_content::-webkit-scrollbar {
    width: 3px;
}

.border_box::-webkit-scrollbar-thumb, #popup_content::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #AAA;
    border-radius: 1px;
}

#leftbar {
    left: 10px;
}

#rightbar {
    right: 10px;
}

.border_box table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.border_box tr:nth-child(even) {
    background-color: #EEE;
}

.border_box th, .border_box td {
    padding: 6px 2px;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border_box th {
    text-align: left;
}

#popup {
    position: absolute;
    left: 50%;
    top: 60px;
    bottom: 60px;
    margin-left: -300px;
    width: 600px;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

#popup.error {
    background-color: #FDC;
}

#popup.warning {
    background-color: #EEA;
}

#popup_title {
    padding: 10px;
    font-size: 20px;
    cursor: move;
}

#popup hr {
    border: 0;
    border-bottom: 1px solid #333;
    margin: -1px 8px;
}

#popup_content {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#popup_content p {
    margin: 5px;
    text-align: left;
    font-size: 14px;
}

button.border_box, a.border_box, select.border_box {
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

button.border_box:disabled, a.border_box:disabled, select.border_box:disabled {
    opacity: 0.3 !important;
    cursor: default !important;
}

button.border_box:hover:not(:disabled), a.border_box:hover:not(:disabled),
select.border_box:hover:not(:disabled) {
    border-color: #333;
}

button.border_box:active:not(:disabled), a.border_box:active:not(:disabled),
select.border_box:active:not(:disabled) {
    background-color: #DDD;
}

#extra_controls_toggle {
    width: 30px;
    background-image: url('../img/double_arrow_down.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.close {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url('../img/cross_product.png') center center no-repeat;
    opacity: 0.5;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

#popup .close {
    display: none;
    right: 5px;
    height: 35px;
}

.border_box {
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 -1px 2px rgba(0, 0, 0, .1);
    background-color: #FFF;
}
