* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas_container {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

#canvas_container > * {
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

#main_molecule {
    background-color: #FFF;
}

#header {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 500px;
    height: 30px;
    margin-left: -250px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
}

#logo {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 0 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.5;
    cursor: default;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

#logo:hover {
    opacity: 1;
}

#logo span {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

#logo_o {
    color: rgb(148, 148, 148);
}
#logo_fra {
    color: rgb(203,  83,  73);
}
#logo_m {
    color: rgb( 80, 169,  75);
}
#logo_p {
    color: rgb( 76,  81, 178);
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    padding: 2px 10px 2px 3px;
    background-color: #FFF;
    border-top-left-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
}

#controls, #extra_controls {
    display: none;
    margin: 0 5px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

#extra_controls {
    margin-top: 5px;
}

#fragment_controls, #error_controls {
    display: none;
}

#fragment_controls button, #error_controls button {
    height: 35px;
    font-size: 16px;
}

#find_fragments, #retry_new, #accept_fragment, #reject_fragment, #view_original {
    position: absolute;
    bottom: 12px;
    left: 50%;
    width: 180px;
    margin-left: -90px;
}

#accept_fragment, #reject_fragment {
    background-position: left center;
    background-repeat: no-repeat;
    color: #EEE;
}

#accept_fragment {
    background-color: rgb( 80, 169,  75);
}
#accept_fragment:active {
    background-color: rgb( 66, 135,  41);
}

#reject_fragment {
    margin-left: 100px;
    background-color: rgb(203,  83,  73);
}
#reject_fragment:active:not(:disabled) {
    background-color: rgb(169,  49,  39);
}

#view_original {
    margin-left: -280px;
}

.bgroup {
    display: inline-block;
    margin: 0 2px;
}

.bgroup > * {
    display: block;
    float: left;
    margin: 0;
    padding: 6px;
    border-right-width: 0 !important;
    border-radius: 0 !important;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

.bgroup > select {
    /* Fix for weird padding */
    padding: 5px;
}

.bgroup > *:first-child {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.bgroup > *:last-child {
    border-right-width: 1px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.sidebar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: opacity .2s ease-out, visibility .2s ease-out;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}

.border_box::-webkit-scrollbar, #popup_content::-webkit-scrollbar {
    width: 3px;
}

.border_box::-webkit-scrollbar-thumb, #popup_content::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #AAA;
    border-radius: 1px;
}

#leftbar {
    left: 10px;
}

#rightbar {
    right: 10px;
}

#atom_details, #related_fragments {
    padding: 5px 5px 5px 5px;
}

#atom_details span.title, #related_fragments span.title {
    font-size: 16px;
    font-weight: bold;
}

#atom_details canvas, #related_fragments canvas {
    border: 1px solid #AAA;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#atom_details table {
    width: 230px;
    margin: 3px 0;
}

#atom_details table ul {
    margin: 0 0 8px 0;
    padding: 0;
    list-style: none;
}

.border_box table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.border_box tr:nth-child(even) {
    background-color: #EEE;
}

.border_box th, .border_box td {
    padding: 6px 2px;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border_box th {
    text-align: left;
}

#atom_details th {
    width: 120px;
    text-align: left;
}

#atom_details button {
    width: 230px;
    margin: 3px 0;
    height: 30px;
}

#atom_details table input, #atom_details table button {
    width: 100px;
    height: 24px;
    margin: -4px 0;
    padding: 0 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#selected_atom_details, #selected_atom_details th, #selected_atom_details input {
    text-align: center;
}

#selected_atom_details input, #selected_atom_details button {
    width: 80px !important;
}

#charge_edit {
    width: 230px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    visibility: hidden;
}

#charge_edit table {
    width: 220px;
}

#charge_edit > button {
    width: 220px;
}

.fragment button {
    position: absolute;
    width: 110px;
    height: 30px;
    margin-top: 95px;
    z-index: 10;
    font-weight: normal !important;
    -webkit-transition: opacity .2s ease-out, visibility .2s ease-out;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}

.fragment .show_original {
    margin-left: 5px;
}

.fragment .select_fragment {
    margin-left: 115px;
}

.fragment button:disabled {
    visibility: hidden;
    opacity: 0.0 !important;
}

.fragment canvas {
    margin: 1px 0;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.fragment canvas:active {
    background-color: #DDD;
}

.fragment:hover canvas {
    opacity: 1.0;
}

.fragment canvas.overlapping {
    background-color: #FC9;
}

#popup {
    position: absolute;
    left: 50%;
    top: 60px;
    bottom: 60px;
    margin-left: -300px;
    width: 600px;
    z-index: 10;
}

#popup_title {
    padding: 10px;
    font-size: 20px;
}

#popup hr {
    border: 0;
    border-bottom: 1px solid #333;
    margin: -1px 8px;
}

#popup_content {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#popup_content textarea {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 580px;
    margin: 10px;
    border: 1px solid #333;
}

#popup_content .controls {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
}

#popup_content .controls button {
    float: right;
    height: 28px;
    margin: 0 2px;
}

#molecule_cutout, #charge_details {
    float: left;
    width: 260px;
    overflow: hidden;
}

#charge_details {
    float: right;
}

#charge_details table {
    width: 260px;
    text-align: left;
}

#charge_details select, #charge_details input {
    width: 110px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border_box input:disabled {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

#used_fragments {
    overflow: hidden;
    width: 564px;
    margin: 0 auto;
}

.used_fragment {
    width: 260px;
    height: 130px;
    float: left;
    margin: 10px;
}

.used_fragment .show_original {
    position: absolute;
    width: 110px;
    height: 30px;
    margin: 95px 0 0 75px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 10;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.used_fragment .show_original:hover {
    opacity: 1;
}

button.border_box, a.border_box, select.border_box {
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

button.border_box:disabled, a.border_box:disabled, select.border_box:disabled {
    opacity: 0.1 !important;
    cursor: default !important;
}

button.border_box:hover, a.border_box:hover, select.border_box:hover {
    opacity: 1;
}

button.border_box:active:not(:disabled), a.border_box:active:not(:disabled),
        select.border_box:active:not(:disabled) {
    background-color: #DDD;
}

#extra_controls_toggle {
    width: 30px;
    background-image: url('../img/open.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#instruction_overlay {
    position: absolute;
    z-index: 100;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.highlighted {
    border: 5px solid #333 !important;
    border-radius: 4px !important;
}

.border_box {
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 -1px 2px rgba(0, 0, 0, .1);
    background-color: #FFF;
}

.dg.ac {
    z-index: 100 !important;
    -webkit-user-select: none;
    user-select: none;
}

.dg.ac span, .dg.ac li {
    color: #EEE;
}

.dg.main {
    -webkit-transition: width .2s ease-out, visibility .2s ease-out !important;
    transition: width .2s ease-out, visibility .2s ease-out !important;
}

.main-title {
    background-color: #000 !important;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 1px;
    cursor: pointer !important;
}

.main-save {
    background-color: #3e3e3e !important;
}
