* {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvasContainer {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    background-color: #CCC;
    overflow: hidden;
}

#canvasContainer > * {
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

#mainMolecule {
    background-color: #FFF;
}

#header {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.5;
    cursor: default;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

#header:hover {
    opacity: 1;
}

#header span {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

#logo_o {
    color: rgb(148, 148, 148);
}
#logo_fra {
    color: rgb(203,  83,  73);
}
#logo_m {
    color: rgb( 80, 169,  75);
}
#logo_p {
    color: rgb( 76,  81, 178);
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    padding: 2px 10px 2px 3px;
    background-color: #FFF;
    border-top-left-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
}

#controls_toggle {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: #FFF;
    background-color: #333;
    padding: 1px 5px;
    border-radius: 5px 5px 0 0;
    left: 50%;
    width: 80px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 220px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: bottom .2s ease-out, opacity .2s ease-out;
    transition: bottom .2s ease-out, opacity .2s ease-out;
    opacity: 0.5;
    visibility: hidden;
}

#controls_toggle:hover, #controls_toggle.hover {
    opacity: 1;
}

#controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 600px;
    height: 0px;
    box-sizing: border-box;
    margin-left: -300px;
    padding: 5px;
    text-align: center;
    background-color: #333;
    border-radius: 5px 0 0 0;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: height .2s ease-out, opacity .2s ease-out, visibility .2s ease-out;
    transition: height .2s ease-out, opacity .2s ease-out, visibility .2s ease-out;
    opacity: 0.5;
    visibility: hidden;
}

#controls:hover, #controls_toggle:hover ~ #controls {
    opacity: 1;
}

.bgroup {
    display: inline-block;
    margin: 0 10px;
}

.bgroup > * {
    display: block;
    float: left;
    margin: 0;
    padding: 6px;
    border-right-width: 0 !important;
    border-radius: 0 !important;
    color: #888;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

.bgroup > select {
    /* Fix for weird padding */
    padding: 5px;
}

.bgroup > *:hover {
    color: #333;
}

.bgroup > *:active {
    background-color: #EEE !important;
}

.bgroup > *:first-child {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.bgroup > *:last-child {
    border-right-width: 1px !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

#leftbar, #rightbar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 240px;
    overflow: auto;
    z-index: 2;
}

#leftbar {
    left: 10px;
}

#rightbar {
    right: 10px;
}

#popup {
    position: absolute;
    left: 50%;
    top: 60px;
    bottom: 60px;
    margin-left: -300px;
    width: 600px;
    z-index: 10;
}

#popup_title {
    padding: 10px;
    font-size: 20px;
}

#popup hr {
    border: 0;
    border-bottom: 1px solid #333;
    margin: -1px 8px;
}

#popup_content {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#popup_content textarea {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: 10px;
    border: 1px solid #333;
}

#popup_content .controls {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    margin: 10px;
}

#atomDetails, #relatedFragments {
    padding: 5px 5px 5px 5px;
}

.borderBox {
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 -1px 2px rgba(0, 0, 0, .1);
    background-color: #FFF;
}

.dg.ac {
    z-index: 100 !important;
    -webkit-user-select: none;
    user-select: none;
}

.dg.ac span, .dg.ac li {
    color: #EEE;
}

.dg.main {
    -webkit-transition: width .2s ease-out, visibility .2s ease-out !important;
    transition: width .2s ease-out, visibility .2s ease-out !important;
}

.main-title {
    background-color: #000 !important;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 1px;
    cursor: pointer !important;
}

.main-save {
    background-color: #3e3e3e !important;
}
