* {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvasContainer {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    background-color: #CCC;
    overflow: hidden;
}

#mainMolecule {
    margin-bottom: -5px;
    background-color: #FFF;
}

#header {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

#header span {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

#logo_o {
    color: rgb(148, 148, 148);
}
#logo_fra {
    color: rgb(203,  83,  73);
}
#logo_m {
    color: rgb( 80, 169,  75);
}
#logo_p {
    color: rgb( 76,  81, 178);
}

#copyright {
    position: absolute;
    bottom: 3px;
    right: 10px;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    -webkit-user-select: none;
    user-select: none;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

#leftbar, #rightbar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 240px;
    overflow: auto;
    z-index: 2;
    background-color: #FFF;
}

#leftbar {
    left: 10px;
}

#rightbar {
    right: 10px;
}

#popup {
    position: absolute;
    left: 50%;
    top: 60px;
    bottom: 60px;
    margin-left: -300px;
    width: 600px;
    z-index: 10;
    background-color: #FFF;
}

#popup_title {
    padding: 10px;
    font-size: 20px;
}

#popup hr {
    border: 0;
    border-bottom: 1px solid #333;
    margin: -1px 8px;
}

#popup_content {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#atomDetails, #relatedFragments {
    padding: 5px 5px 5px 5px;
}

.borderBox {
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 -1px 2px rgba(0, 0, 0, .1);
    visibility: hidden;
}

.dg.ac {
    z-index: 100 !important;
}

.dg.main {
    transition: width .2s ease-out, visibility .2s ease-out !important;
}

.main-title {
    background-color: #000 !important;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 1px;
}

.main-save {
    background-color: #3e3e3e !important;
}
